*.iml
.idea
**/__pycache__/
test/.pytest_cache
dist/
.serverless
.pytest_cache
.DS_Store
venv
.vscode/
repo-data/
**/.env*
tempDir/
!**/.env.example
.ipynb_checkpoints/
deploy.*.py
ragenv
requests.txt
qdrant_db
test.py
tf-docs-crawled/
truefoundry-docs/
*.zip
qdrant_storage/
*.pth
.truefoundry
infinity/
volumes/
pgdata/
*.bak
models_config.json
test
sample-data/sambanova_docs
sample-data/sambanova_docs_processed
delpoy.sh
creds.json
connect_to_sqa.sh
rag_query.sh
backend/modules/vector_db/02-hybrid-search.ipynb